<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>if, unless</h1>
        <table border="1">
            <tr>
                <th>count</th>
                <th>username</th>
                <th>age</th>
            </tr>
            <tr th:each="user, userStat : ${users}">
                <td th:text="${userStat.count}">1</td>
                <td th:text="${user.username}">username</td>
                <!--하나의 열 -->
                <td>
                    <span th:text="${user.age}">0</span>
                    <!--lt는 <, ge는 >=, unlsess는 if의 반대
                        조건을 충족해야 태그가 출력됨, 충족되지 못하면 태그를 아예 지워버림-->
                    <span th:text="'미성년자'" th:if="${user.age lt 20}"></span>
                    <span th:text="'미성년자'" th:unless="${user.age ge 20}"></span>
                </td>
            </tr>
        </table>

        <h1>switch</h1>
        <table border="1">
            <tr>
                <th>count</th>
                <th>username</th>
                <th>age</th>
            </tr>
            <tr th:each="user, userStat : ${users}">
                <td th:text="${userStat.count}">1</td>
                <td th:text="${user.username}">username</td>
                <td th:switch="${user.age}">
                    <span th:case="10">10살</span>
                    <span th:case="20">20살</span>
                    <!--userc는 30이므로 *와 다름, 조건에 만족하지 않으므로
                        그냥 hhtml코드 기타를 출력-->
                    <span th:case="*">기타</span>
                </td>
            </tr>
        </table>
    </body>
</html>