<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <h1>LocalDateTime</h1>
            <ul>
                <!-- 시간을 여러 타입으로 보기,
                 thymeleaf-extras-java8time라이브러리를 원래 다운받아야 하지만 스프링부트는 안받아도됨-->
                <li>default = <span th:text="${localDateTime}"></span></li>
                <!--포매팅해서 출력, 가장 많이 쓰는-->
                <li>yyyy-MM-dd HH:mm:ss = <span th:text="${#temporals.format(localDateTime,'yyyy-MM-dd HH:mm:ss')}"></span></li>
            </ul>
        <h1>LocalDateTime - Utils</h1>
            <ul>
                <!--                몇일인지-->
                <li>${#temporals.day(localDateTime)} = <span th:text="${#temporals.day(localDateTime)}"></span></li>
                <!--                몇월인지 숫자만 나옴-->
                <li>${#temporals.month(localDateTime)} = <span th:text="${#temporals.month(localDateTime)}"></span></li>
                <!--                몇월인지-->
                <li>${#temporals.monthName(localDateTime)} = <span th:text="${#temporals.monthName(localDateTime)}"></span></li>
                <!--                몇월인지-->
                <li>${#temporals.monthNameShort(localDateTime)} = <span th:text="${#temporals.monthNameShort(localDateTime)}"></span></li>
                <!--                연도-->
                <li>${#temporals.year(localDateTime)} = <span th:text="${#temporals.year(localDateTime)}"></span></li>
                <!--                한 주에서 몇번째 날에 해당하는지-->
                <li>${#temporals.dayOfWeek(localDateTime)} = <span th:text="${#temporals.dayOfWeek(localDateTime)}"></span></li>
                 <!--                무슨요일-->
                <li>${#temporals.dayOfWeekName(localDateTime)} = <span th:text="${#temporals.dayOfWeekName(localDateTime)}"></span></li>
                <!--                무슨요일-->
                <li>${#temporals.dayOfWeekNameShort(localDateTime)} = <span th:text="${#temporals.dayOfWeekNameShort(localDateTime)}"></span></li>
                <!--                몇시-->
                <li>${#temporals.hour(localDateTime)} = <span th:text="${#temporals.hour(localDateTime)}"></span></li>
                <!--                몇분-->
                <li>${#temporals.minute(localDateTime)} = <span th:text="${#temporals.minute(localDateTime)}"></span></li>
                <!--                몇초-->
                <li>${#temporals.second(localDateTime)} = <span th:text="${#temporals.second(localDateTime)}"></span></li>
                <!--                나노초-->
                <li>${#temporals.nanosecond(localDateTime)} = <span th:text="${#temporals.nanosecond(localDateTime)}"></span></li>
            </ul>
</body>
</html>